.docs {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.docs .title {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid var(--primary-color);
}

.components-list .list {
  list-style: none;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.15rem;
}

.components-list .list li {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  text-align: center;
  padding: 0.6rem;
}

.components-list .list li:hover {
  cursor: pointer;
  background-color: var(--secondary-hover);
}
